
nav ul {
  top: 0%;
  left: 0%;
  right: 0%;
  margin: 0%;
  width: 100%;
  list-style: none;
  position: fixed;
  background-color: black;
  overflow: hidden;
}

nav li {
  position: relative;
  float:left;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 0px;
  line-height: 75px;
  align-items: center;
  list-style: none;
}

nav a:hover {
  color: black;
  background-color: powderblue;
}

nav a {
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  font-family: Georgia;
  text-align:left;
  color: powderblue;
  background-color: black;
}

body {
  background:rgb(16, 22, 47);
}

li {
  list-style: square;
}

.display-center {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(255, 255, 255);
  font-size: 40px;
}

p,
article { 
  font-family: Helvetica;
  color:rgb(255, 255, 255);
  font-size: 28px;
}

.hyperlink {
  color:powderblue;
}

.hyperlink:hover {
  color: blueviolet;
}

#git img {
  height: 450px;
}
.no-pic {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-style: italic;
}

